.item {
  color: #b42b08;
  font-size: 17px;
}

.editButton {
  margin-left: 10px;
  border:  1px solid #24bb24;
  border-radius: 4px;
  padding: 5px;
  color: #24bb24;
  background-color: transparent;
}

.deleteButton {
  margin-left: 10px;
  border:  1px solid #ff9305;
  border-radius: 4px;
  padding: 5px;
  color: #ff9305;
  background-color: transparent;
}

.done {
  color: #147714;
}

.editField {
  height: 27px;
  font-size: 17px;
  width: 175px;
}

.todoName {
  max-width: 130px;
  display: inline-block;
  vertical-align: top;
  word-break: break-all;
}