.form {
  background-color: #fff;
  width: 420px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 35px;
}

.title {
  color: #777777;
  font-size: 36px;
}

.input {
  border: 1px solid #0c6d0c;
  border-radius: 4px;
  height: 30px;
  width: 270px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
}

.submit {
  font-family: inherit;
  height: 30px;
  border: 1px solid #0c6d0c;
  border-radius: 4px;
  background-color: transparent;
  color: #0c6d0c;
  padding: 4px;
}

.submit:active {
  background-color: #24bb24;
}

.todoList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}